{% extends "base.html" %}
{% block content %}
<div>
    <table class="table">
        <thread>
            <tr>
                <th scope="col">
                    <p class="text-center">Room</p>
                </th>
                <th scope="col">
                    <p class="text-center">Price</p>
                </th>
                <th scope="col">
                    <p class="text-center">Total spots</p>
                </th>
                <th scope="col">
                    <p class="text-center">Date</p>
                </th>
                <th></th>
            </tr>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <th scope="row">
                        <p class="text-center">{{ reservation.number }}</p>
                    </th>
                    <td>
                        <p class="text-center">{{ reservation.price }}/day</p>
                    </td>
                    <td>
                        <p class="text-center">{{ reservation.spots }}</p>
                    </td>
                    <td>
                        <p class="text-center">{{ reservation.date }}</p>
                    </td>
                    <td>
                        <form method="post" action="/profile/{{ reservation.number }}/{{ reservation.date }}/">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Cancel reservation">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </thread>
    </table>
</div>

<div class="container teal_color my-5 text-center">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <form method="post" action="logout/">
                {% csrf_token %}
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</div>
{% endblock content %}